<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smart news</title>
    <link rel="stylesheet" type="text/css" href="https://assets.upstract.com/st/2104020930/css/main.css"/>
</head>
<body>
          <div>
              <h1 class="hnname"><a href="https://news.ycombinator.com/news">Hacker News</a></h1>

              <span class="title">
                  <a href="{{titlelink0}}" class="storylink">{{title0}}</a>
              </span><br>
              <span class="detail">{{detail0}}
                  <span class="comment"><a href = "{{commentlink0}}">{{comment0}}</a></span></span> <br>

              <span class="title">
                  <a href="{{titlelink1}}" class="storylink">{{title1}}</a>
              </span><br>
              <span class="detail">{{detail1}}
                  <span class="comment"><a href = "{{commentlink1}}">{{comment1}}</a></span></span><br>

              <span class="title">
                  <a href="{{titlelink2}}" class="storylink">{{title2}}</a>
              </span><br>
              <span class="detail">{{detail2}}
                  <span class="comment"><a href = "{{commentlink2}}">{{comment2}}</a></span></span><br>

              <span class="title">
                  <a href="{{titlelink3}}" class="storylink">{{title3}}</a>
              </span><br>
              <span class="detail">{{detail3}}
                  <span class="comment"><a href = "{{commentlink3}}">{{comment3}}</a></span></span><br>

              <span class="title">
                  <a href="{{titlelink4}}" class="storylink">{{title4}}</a>
              </span><br>
              <span class="detail">{{detail4}}
                  <span class="comment"><a href = "{{commentlink4}}">{{comment4}}</a></span></span><br>



          </div>
</body>
</html>