.newsCompnentsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-image: linear-gradient(rgba(24, 22, 22, 0.815), rgba(36, 29, 29, 0.685)),url('./b5.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  /* color: aliceblue; */
}